<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752419863924-u55fcj9q5eircmdvqnm95e1cj8os6qj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752419863924-u55fcj9q5eircmdvqnm95e1cj8os6qj7</string>
	<key>API_KEY</key>
	<string>AIzaSyDzUcpDqaZIcHnHRGIKmpB_og5Uupa93lw</string>
	<key>GCM_SENDER_ID</key>
	<string>752419863924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thingy.Thingy</string>
	<key>PROJECT_ID</key>
	<string>fair-feed-b43a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fair-feed-b43a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752419863924:ios:9dceb930f30f6b6c91c021</string>
	<key>DATABASE_URL</key>
	<string>https://fair-feed-b43a3.firebaseio.com</string>
</dict>
</plist>